In [1]:
import surprise
from surprise import KNNWithZScore
from surprise import Reader, Dataset
import pandas as pd
import numpy as np

In [2]:
ratings = pd.read_excel('zomato_restaurents_reviews.xlsx')
ratings.head()

,Restaurent_Name,Restaurent_ID,User_Name,User_ID,Rating
0,Brewklyn Microbrewery,18426381,Isha Kaur,36363182,4.0
1,Brewklyn Microbrewery,18426381,Shreyas,27720568,4.0
2,Brewklyn Microbrewery,18426381,Aaghran Ghosh,245984,4.0
3,Brewklyn Microbrewery,18426381,Didon Clinton Dsouza,37440297,5.0
4,Brewklyn Microbrewery,18426381,Anant :),39373492,4.0

In [3]:
restaurents = ratings[['Restaurent_ID', 'Restaurent_Name']].drop_duplicates().set_index('Restaurent_ID')
restaurents.head()

                         Restaurent_Name
Restaurent_ID
18426381           Brewklyn Microbrewery
18608992       Chinita Real Mexican Food
18625420                     Burma Burma
18783527                     Hunger Camp
18744326           The Old Fashioned Bar

In [4]:
reader = Reader(rating_scale = (1,5))
data = Dataset.load_from_df(ratings[['User_ID','Restaurent_ID', 'Rating']], reader)
sim_options = {
    'name': 'cosine',
    'user_based': True,
    'k':10
}

knn = KNNWithZScore(sim_options = sim_options)
knn.fit(data.build_full_trainset())

Computing the cosine similarity matrix...
Done computing similarity matrix.

In [5]:
knn.predict(uid = 37440297, iid = 18426381, verbose = True)

user: 37440297   item: 18426381   r_ui = None   est = 4.48   {'actual_k': 40, 'was_impossible': False}

Prediction(uid=37440297, iid=18426381, r_ui=None, est=4.477433873130937, details={'actual_k': 40, 'was_impossible': False})

In [10]:
def Prediction(userid):
    predictions = pd.DataFrame()

    for restaurentid in ratings['Restaurent_ID'].unique():
      restaurent_row = ratings[(ratings['User_ID'] == userid) & (ratings['Restaurent_ID'] == restaurentid)]
      if len(restaurent_row) == 0:
        restaurent_pred_rating = knn.predict(uid = userid, iid = restaurentid)[3]
        predictions = predictions.append({'Restaurent_Id':restaurentid, 'rating_prediction':restaurent_pred_rating}, ignore_index = True)
    ids = predictions.sort_values('rating_prediction', ascending = False).head(3)['Restaurent_Id'].astype('int')
    return restaurents.loc[ids]['Restaurent_Name']

In [11]:
Prediction(37440297)

Restaurent_ID
55453       Chikkanna Tiffin Room
18628897     Avista Cafe Pizzeria
61111            Milano Ice Cream
Name: Restaurent_Name, dtype: object